<body>
	<h1>from {{fr}} to {{to}}</h1>
	
	<p>現在の世界は {{worlds[world]}} です</p>
	
	<br>

	{%if path == "No path found" %}
		No path found
	{% else %}
		<p><table border=0>
		{% for move in path %}
			<tr>
				<td>{{move[1]}}</td>
				<td>で</td>
				<td>{{move[0]}}</td>
				<td>まで行く</td>
			</tr>
		{% endfor %}
		</table></p>
	{% endif %}
	
	<p><form method="post">
		from: <br>
		<select name="fr">
			{% for town in towns %}
                		<option value="{{loop.index}}">{{town}}</option>
                	{% endfor %}
                </select><br>
                to: <br>
		<select name="to">
			{% for town in towns %}
                		<option value="{{loop.index}}">{{town}}</option>
                	{% endfor %}
                </select>
		<br>
                <button type="submit">Search</button>
	</form></p>
	
	<p><form method="post">
		世界を変える
		<select name="world">
			{% for id, world in worlds.items() %}
                		<option value={{id}}>{{world}}</option>
                	{% endfor %}
		</select>
		<br>
                <button type="submit">Change!</button>
         </form></p>
</body>
